body {
    background-color: blue;
}

.info-block {
    opacity: 0;
    font-family: "Anonymous Pro", monospace;
    transform: translateY(40px);
    transition: opacity 0.6s, transform 0.6s;
    background: linear-gradient(45deg, #ff0000, #0000ff);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    color: #fff;
    margin: 60px auto;
    padding: 40px;
    border-radius: 20px;
    max-width: 600px;
    font-size: 50px;
}

.info-block.visible {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    pointer-events: none;
}

.block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
}

.expand-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s;
}

.info-block.expanded .expand-btn {
    transform: rotate(180deg);
}

.block-extra {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, opacity 0.5s;
    opacity: 0;
    font-size: 0.7em;
    margin-top: 20px;
}

.info-block.expanded .block-extra {
    max-height: 500px;
    opacity: 1;
}