

body {
    background-color: black;
}

h1 {
    font-family: "Anonymous Pro", monospace;
    font-weight: 200;
    margin-left: 50px;
    color: white;
}

.rectangle {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 100px;
    width: 300px;
    background-color: darkgray;
    z-index: -1;
}